* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


button {
    padding: 10px;
    font-size: 15px;
    border: 1px transparent 
}

button:active {
    background-color: white;
}
h1 {
    margin-bottom: 10px;
}
.grid {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.gridContainer {
    display: grid;
    height: 70%;
    width: 70%;
    justify-content: center;
    border: 1px solid red;
    border-radius: 10px;
    background-color: white;
}